#declare the index page
DirectoryIndex login.php


#remove the ".php" extension from the url
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
