#declare the index page
DirectoryIndex login.php


#block access to this file
<Files .htaccess>
order allow,deny
deny from all
</Files>


#remove the ".php" extension from the url
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^register?$ register.php [NC,L]
RewriteRule ^login?$ login.php [NC,L]
RewriteRule ^welcome?$ welcome.php [NC,L]
RewriteRule ^logout?$ logout.php [NC,L]
RewriteRule ^allfile?$ allfile.php [NC,L]
RewriteRule ^index?$ index.html [NC,L]
RewriteRule ^password?$ password.php [NC,L]
